* {
  box-sizing: border-box;
}

.location-detail-container {
  width: 100vw
}

.location--name {
  color: white;
  width: auto;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location--address {
  color: white;
  width: auto;
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.location-value {
  color: white;
  width: auto;
  margin: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.reviews--box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: auto;
}