* {
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
  // border-radius: 5px;
  margin-top: -350px;
}

.card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px 10px 20px 0px;
  border-radius: 20px;
}

.card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.rating {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}